git:
  use_rerere: true
  merge_remote: origin
  merge_branch: acceptance
  master_branch: master
  remotes:
    - origin

branch_info_file: 'public/deployed'

# Everything below here is optional and should be deleted if you don't need it
notifier:
  class:
    name: 'FlashFlow::Notifier::Hipchat'
    token: <%= ENV['HIPCHAT_TOKEN'] %>
    room: 'Flash Flow Notifications'
issue_tracker:
  class:
    name: 'FlashFlow::IssueTracker::Pivotal'
    token: <%= ENV['TRACKER_TOKEN'] %>
    project_id: # Your Pivotal project id goes here
lock:
  class:
    name: 'FlashFlow::Lock::Github'
    token: <%= ENV['GH_TOKEN'] %>
    repo: # Your github repo. For example, the flash_flow repo is 'flashfunders/flash_flow'
    issue_id: # Your github issue id goes here
branches:
  class:
    name: 'FlashFlow::Branch::Github'
    token: <%= ENV['GH_TOKEN'] %>
    repo: # Your github repo. For example, the flash_flow repo is 'flashfunders/flash_flow'
    master_branch: master
    unmergeable_label: unmergeable
    do_not_merge_label: 'do not merge'


